<router-outlet></router-outlet>

<hr>

<app-comp-inject-simple></app-comp-inject-simple>

<hr>

<a [routerLink]="['/inject-reduc-complexity', 1]">/inject-reduc-complexity/1</a>

<hr>

<app-comp-closure></app-comp-closure>

<hr>

<a [routerLink]="['/inject-reduc-complexity-closure', 1]">/inject-reduc-complexity-closure/1</a>

<app-comp-inject-reduc-complexity-closure></app-comp-inject-reduc-complexity-closure>

<hr>
<p>app-comp-inject-super-extends-closure</p>

<app-comp-inject-super-extends-closure></app-comp-inject-super-extends-closure>
